{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if quick_create_url %}
        <li>
            <a href="{{ quick_create_url }}" class="addlink" style="background-color:#0c4b78;border-color:#0c4b78;">
                {% trans "+ Crear circuito con IA" %}
            </a>
        </li>
    {% endif %}
    {% if manual_create_url %}
        <li>
            <a href="{{ manual_create_url }}" class="addlink" style="background-color:#388e3c;border-color:#2e7d32;">
                {% trans "+ Crear circuito manual" %}
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
