{% extends "admin/change_form.html" %}

{% block field_sets %}
{% for fieldset in adminform %}
    <fieldset class="module aligned {{ fieldset.classes }}">
        {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
        {% for line in fieldset %}
            <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
                {% for field in line %}
                    <div class="field-box field-{{ field.field.name }}">
                        {{ field.label_tag }}
                        {{ field.field }}
                        {% if field.field.name == 'hora_inicio' %}
                            <input type="button" value="Consultar Disponibilidad" 
                                   class="actualizar-horarios"
                                   style="margin-top:5px; cursor:pointer;">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>
{% endfor %}
{% endblock %}
